[submodule "lib/fb-php-sdk"]
	path = lib/fb-php-sdk
	url = git://github.com/facebook/php-sdk.git
[submodule "lib/AA"]
	
	path = lib/AA

	url = git://github.com/apparena/App-Arena-Developer-Framework.git
